/* Login.css */

.container {
   height: 100vh;
   width: 100vw;
   display: flex;
   justify-content: center;
   align-items: center;
 }
 
 .wrapper {
   padding: 2rem;
   border: 1px solid #ccc;
   width: 25rem;
   display: flex;
   flex-direction: column;
   justify-content: center;
   background-color: #fff;
 }
 
 .logo {
   /* Replace this with your logo styles */
   width: 175px;
   height: 51px;
   /* Your logo background image */
 }
 
 .logo_wrapper {
   display: flex;
   justify-content: center;
   align-items: center;
   height: 5rem;
   margin-top: 1rem;
   margin-bottom: 3rem;
 }
 
 .wrapper h4 {
   font-size: 1.6rem;
   font-weight: 600;
   color: #707070;
   margin-top: 1.5rem;
   margin-bottom: 1rem;
   text-align: center;
 }
 
 .form {
   width: 80%;
   margin: 0 auto;
 }
 
 .form > * {
   margin-bottom: 1rem;
 }
 
 input[type='email'],
 input[type='password'] {
   width: 100%;
   padding: 0.8rem;
   border: 1px solid #ccc;
   border-radius: 4px;
   outline: none;
 }
 
 button {
   width: 100%;
   padding: 0.8rem;
   border: none;
   border-radius: 4px;
   background-color: #0095f6;
   color: white;
   font-weight: bold;
   cursor: pointer;
 }
 
 button:hover {
   background-color: #0077b6;
 }
 
 p {
   font-size: 1.4rem;
   color: #8e8e8e;
   text-align: center;
   margin-top: 1rem;
 }
 
 a {
   color: #0095f6;
   text-decoration: none;
   font-weight: 600;
   cursor: pointer;
 }
 
 a:hover {
   text-decoration: underline;
 }
 